@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

body {
  background: hsl(224, 57%, 9%);
  color: #eee;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 650px;
  margin: 0 auto;
  cursor: default;

  .disabled {
    pointer-events: none;
  }

  & span:hover {
    border-radius: 3px;
  }

  .glow-anim {
    animation: grow 8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

main {
  margin: 0 auto;
  max-width: 800px;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.not-found-page {
  display: grid;
  place-content: center;
  gap: 25px;
  font-size: 2rem;
  min-height: 100vh;

  a {
    text-align: center;
    font-size: 1rem;
    background-color: hsla(119, 94%, 60%, 0.1);
    width: fit-content;
    margin: 0 auto;
    padding: 3px 10px;
    border-radius: 3px;
    color: #3bf939;

    &:hover {
      background-color: hsla(119, 94%, 60%, 0.25);
    }
  }
}

@keyframes grow {
  from {
    color: #3bf939;
    text-shadow: 0 0 15px #3bf939;
  }
  to {
    color: hsla(0, 0%, 100%, 0.5);
    text-shadow: none;
  }
}
