.cards-animation-page {
  min-height: 100vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  //   place-items: center;

  .info {
    display: flex;
    place-content: center;
    gap: 10px;
    color: hsla(0, 0%, 100%, 0.5);
    .card-qty-info,
    .delay-info {
      span {
        font-weight: bold;
        color: hsla(0, 0%, 100%, 1);
      }
    }
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    place-content: center;

    button.reset-btn {
      background-color: red;
      color: #fff;
    }

    button {
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
      border: none;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 1);

      svg {
        margin-right: 5px;
        width: 18px;
        height: 18px;
      }

      &:hover {
        opacity: 0.75;
        cursor: pointer;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    margin-bottom: 150px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    // background-color: rgba(255, 255, 255, 0.1);
  }
}
